// :global{
//   .addquestion{
//       width: 100%;
//       height: 100%;
//       background: pink;
//   }
// }

:local {
    .addquestion {
      width: 100%;
      height: 100%;
      // overflow: auto;
      background: #eee;
  
      .addquestionwrap {
        width: 96%;
        height: 98%;
        // background: pink;
        // background: #fff;
        margin: 20px auto;
        padding: 10px 10px;
  
        >h2 {
          padding: 6px;
        }
  
        .forms {
          width: 99%;
          height: 98%;
          background: #fff;
          margin: 20px auto;
          padding: 10px 10px;
          border-radius: 10px;
  
          .title {
            h3,
            p {
              height: 20px;
            }
  
            width: 100%;
            height: 100px;
            margin: 0 auto;
            padding:0 0 0 10px;
  
            // background: pink;
            .input {
              width: 90%;
              // text-align: center;
              // margin:0 auto;
            }
          }
  
          .marked {
            h3 {
              padding: 6px 0 0 10px;
            }
  
            width: 100%;
            height:316px;
            // background: blue;
            // padding: 20px;
            // margin-top: 10px;
            // overflow: hidden;
            .ant-form-item-control-wrapper {
              width: 80%;
              height: 260px;
              background: pink;
  
              .for-container {
                width: 100%;
                height: 10px;
              }
            }
          }
  
          .types {
            width: 97%;
            height: 100%;
            // background: blue;
            margin: 10px auto;
  
            // padding:30px 0 0 0;
            .select {
              // margin-top:50px;
              width: 100%;
              height: 80px;
            }
          }
  
          .submit {
            width: 97%;
            height: 200px;
            margin: 0 auto;
  
            .btn {
              width: 160px;
              height: 40px;
            }
          }
        }
      }
    }
  }