* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background: #f0f2f5;
}
:global {
  .IndexPage__right___13kb4 {
    width: 100%;
    height: 100%;
  }
  .addPage {
    width: 100%;
    height: 100%;
    background: #f0f2f5;
    p {
      font-size: 30px;
      padding: 10px 30px;
    }
    .addBox {
      width: 90%;
      height: 700px;
      padding: 10px 50px;
      margin-left: 10px;
      border: 1px solid #ccc;
      ul {
        width: 100%;
        height: 100%;
        li {
          width: 33%;
          height: 342px;
          float: left;
          border: 1px solid #ccc;
          .fristLi {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            p {
              width: 100%;
              height: 40px;
              display: flex;
              flex: 1;
              button {
                flex: 1;
                height: 45px;
                font-size: 20px;
                background: #fff;
              }
              .ant-input .ant-cascader-input {
                height: 45px;
              }
              input {
                width: 100%;
                height: 45px;
                font-size: 20px;
                color: rgb(126, 102, 102);
                border: none;
              }
            }
          }
          .secLi {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            p {
              width: 100%;
              height: 40px;
              button {
                padding: 0 10px;
                height: 45px;
                font-size: 20px;
                background: #fff;
                flex: 1;
              }
              input {
                width: 100%;
                height: 45px;
                font-size: 20px;
                color: rgb(126, 102, 102);
                border: none;
              }
            }
          }
          .thirdLi {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            p {
              width: 100%;
              height: 40px;
              button {
                padding: 0 10px;
                height: 45px;
                font-size: 20px;
                background: #fff;
                flex: 1;
              }
              input {
                width: 100%;
                height: 45px;
                font-size: 20px;
                color: rgb(126, 102, 102);
                border: none;
              }
            }
          }
          .foreLi {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            p {
              width: 100%;
              height: 40px;
              button {
                padding: 0 10px;
                height: 45px;
                font-size: 20px;
                background: #fff;
                flex: 1;
              }
              input {
                width: 100%;
                height: 45px;
                font-size: 20px;
                color: rgb(126, 102, 102);
                border: none;
              }
            }
          }
          .fiveLi {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            p {
              width: 100%;
              height: 40px;
              button {
                padding: 0 6px;
                height: 45px;
                font-size: 20px;
                background: #fff;
                flex: 1;
              }
            }
          }
          .sixLi {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            p {
              width: 100%;
              height: 40px;
              button {
                padding: 0 6px;
                height: 45px;
                font-size: 20px;
                background: #fff;
                flex: 1;
              }
            }
          }
        }
      }
    }
  }
}
.active {
  color: #00f;
  border-color: #00f;
}
