:global {
  .wrap {
    width: 100%;
    height: 900px;
    background: #ccc;

    h2 {
      // font-size: 16px;
      padding: 20px 20px;
    }
  }

  .user {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 40px;
    background: #fff;
    border-radius: 3%;
  }

  .addUser {
    width: 30%;
    height: 350px;
    margin: 20px 10px;
  }

  .addRank {
    width: 30%;
    height: 350px;
    margin: 20px 10px;
  }

  .addApi {
    width: 30%;
    height: 350px;
    margin: 20px 10px;
  }

  .Attempt {
    width: 30%;
    height: 350px;
    margin: 20px 10px;
  }

  .RankSetApi {
    width: 30%;
    height: 350px;
    margin: 20px 10px;
  }

  .RankSetView {
    width: 30%;
    height: 350px;
    margin: 20px 10px;
  }
}