*{
  margin:0;
  padding:0;
  list-style:none;
}
html,body{
  width: 100%;
  height: 100%;
}
:global {
  .questionclassifiyPage {
    position: relative;
    width: 100%;
    height: 100%;
    background: #f0f2f5;
    .mark {
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, .6);
      position: absolute;
      left: 0;
      top: 0;
      display: none;
    }
    .questionclassifiyShow {
      position: absolute;
      left: 50px;
      top: 40%;
      width: 80%;
      height: 200px;
      background: #ccc;
      line-height: 200px;

      .input,
      #username {
        margin: 20px 20px;
        height: 60px;
        width: 80%;
      }

      .btn {
        width: 100px;
        height: 45px;
        background: #00f;
        border-radius: 3%;
        color: #fff;
        // font-size: 25px;
      }
    }

    .head {
      width: 100%;
      height: 90px;

      h2{
        line-height: 90px;
        padding-left: 30px;
      }
    }

    .sec {
      background: #fff;
      width: 90%;
      height: 700px;
      margin-left: 30px;
      border-radius:10px;

      p {
        width: 100%;
        height: 90px;
        line-height: 90px;
        padding-left: 40px;

        button {
          width: 170px;
          height: 43px;
          background: blue;
          color: #fff;
          text-align: center;
          border-radius: 3%;
          line-height: 43px;
          border: none;
          font-size: 15px;
        }
      }

      .secbox {
        width: 90%;
        height: 350px;
        border: 1px solid #ccc;
        margin-left: 10px;

        ul {
          width: 100%;
          height: 60px;
          background: #ccc;

          li {
            height: 50px;
            border-bottom: 1px solid #ccc;
            line-height: 50px;
            font-size: 15px;

            span {
              width: 30%;
              display: inline-block;
              padding-left: 20px;
            }
          }

          li:last-child {
            border-bottom: none;
          }

          p {
            line-height: 60px;

            span {
              width: 30%;
              display: inline-block;
            }
          }
        }
      }

      // .secbox{
      //   width:90%;height:500px;
      //   border:1px solid #ccc;
      //   margin-left:10px;
      // ul{
      //   width:100%;height:60px;
      //   background:#ccc;
      //   li{
      //     height:65px;
      //     border-bottom:1px solid #ccc;
      //     line-height:65px;
      //     font-size:25px;
      //     span{
      //       width:30%;
      //       display:inline-block;
      //       padding-left:20px;
      //     }
      //   }
      //   p{
      //     line-height:60px;
      //     span{
      //       width:30%;
      //       display:inline-block;
      //     }
      //   }
      // }
      // }

    }
  }
}
