:local {
  .wrap {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    border-bottom: 2px solid #ccc;
    justify-content: space-between;
    padding: 0 10px;
  }

  .content {
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;

    .left {
      width: 200px;
      height: 100%;
      background: #666;
      .active{
        
      }
    }

    .right {
      flex: 1;
    }
  }
}
